.loader {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    width: 120px;
    aspect-ratio: 1;
    background: linear-gradient(#ff9966 0 0) top/100% 0% no-repeat #ffd9b3;
    -webkit-mask:
        radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
        linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    animation: l19 3s ease-in-out forwards;
}

.fade-in {
    animation: fadeIn 0.8s ease-out;
}

.heart {
    padding: 20px;
}

.heart-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heart-app__wrapper {
    position: relative;
}

.heart-app__icon {
    width: 280px;
    fill: #ff5e5e;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
    animation: heartbeat 1.8s infinite ease-in-out;
}

.heart-app__icon:hover {
    filter:
        drop-shadow(0 0 20px rgba(255, 245, 235, 0.9)) drop-shadow(0 0 45px rgba(255, 235, 225, 0.6)) drop-shadow(0 0 70px rgba(255, 225, 215, 0.3));
    transform: scale(1.03);
}

.heart-app__icon--none {
    animation: none;
}

.heart-app__text {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 28px;
    color: rgba(255, 245, 235, 0.9);
    position: absolute;
    top: 103px;
    left: 32px;
}

@keyframes l19 {
    0% {
        background-size: 100% 0%;
    }

    90% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 100% 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.03);
    }

    35% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.02);
    }

    55% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}